$serif-stack: '"Georgia", "Times", "Times New Roman", serif';
$sans-serif-stack: '"Helvetica Neue", "Helvetica", "Arial", sans-serif';
$lato-font: 'Lato', #{$sans-serif-stack};
$unica-font: 'Unica One', #{$sans-serif-stack};
// $roboto-font: 'Roboto', #{$sans-serif-stack};
// $monserrat-font: 'Montserrat', #{$sans-serif-stack};
// $libre-font: 'Libre Baskerville', #{$serif-stack};

// Base Font
$heading-font-family: $unica-font;
$heading-alt-family: $heading-font-family;
$body-font-family: $lato-font;
$base-font-size:1.6rem;
$base-line-height:1.3;
$inherit: inherit;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// $workSans: 'Work Sans', sans-serif;
// $fontSrcSans: 'Source Sans Pro', sans-serif;
// $fontCagli: 'Cagliostro', cursive;
$fontBody: $body-font-family;
$fontHead: $heading-font-family;
$fontHead2: $heading-alt-family;
$fontIcon: 'FontAwesome';

// Font Weights //////////
$light: 300;
$regular: 400;
$normal: $regular;
$medium-b: 500;
$med: $medium-b;
$semibold: 600;
$bold: 700;
$extrabold: 800;
