.v-application {
  .mdi,
  .material-icons {
    font-family: 'Material Icons';
  }
  font-family: $body-font-family !important;
  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .headline,
  .title,
  .subtitle-1,
  .subtitle.display-1,
  .subtitle-2 {
    font-family: $heading-font-family !important;
  }
  .body-1,
  .body-2,
  .caption,
  .overline {
    font-family: $body-font-family !important;
  }
  [class^='nav-'] {
    font-family: $heading-font-family;
  }
}
